<layout name="Index/header_footer"  />
<form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
	商品名称:<input type="text" name="goods_name" /><br />
	商品价格:<input type="text" name="price" /><br />
	商品logo:<input type="file" name="logo"><br/>
	商品描述:<textarea id="sub_goods_name"  name="goods_desc"></textarea><br />
	是否上架:
	<input type="radio" name="is_on_sale" value="1" checked="checked" />上架
	<input type="radio" name="is_on_sale" value="0" />下架

	<br />
	<input type="submit" value="提交" />
</form>

</body>
</html>

<script type="text/javascript">
	UE.getEditor('sub_goods_name', {
		"initialFrameWidth" : "100%",
		"initialFrameHeight" : 280,
		"maximumWords" : 150,
		// "toolbars" : btn_basic
	});


</script>